header{
    margin:0 auto;
    text-align:center;
    padding-top:250px;
}

header h1{
    margin:0;
    font-size:4em;
    color:#ccc;
    padding:0;
}

header p{
    font-weight: 700;
    font-size: 1.75em;
    color:#fff;
    padding:0;
}

header a{
    box-shadow:0 3px 3px 0 rgba(0,0,0,.1);
    font-weight: 700;
    background-color:#1d809f;
    color:#fff;
    padding: 1em 1.5em;
    text-decoration: none;
    border-radius:.3em;
    display:inline-block;
}

