.services{
    background-color:#1d809f;
    padding:120px 0;
    text-align:center;
}

.services h3{
    font-size: 1rem;
    text-transform: uppercase;
    color:rgb(241, 199, 11);
    margin:0;
    padding:0;
}
.services h3{
    font-size: 48px; 
    color:#fff;
    margin-bottom:48px;
    margin-top:0;
}
.services > .row{
   display:flex;
   justify-content: space-around;
}
.services > .row span{
   background-color: #fff;
   display:inline-block;
   height:112px;
   width:112px;
   border-radius: 50%;
   color:#1d809f;
   font-size: 4rem;
   line-height:122px;
 }
 .services > .row h4{
   margin-bottom: .5rem;
   font-family: inherit;
   font-weight: 500;
   line-height: 1.2;
   color: inherit;
   font-size:24px;
   color:#fff;
   text-transform:uppercase;
 }
 .services > .row p{
   font-size: 16px;
   color:#fff;
 }
 .services > .row span ion-icon {    
   contain:none;
 }